############################################
# Maven
############################################
target/
!.mvn/wrapper/maven-wrapper.jar

############################################
# Logs
############################################
*.log

############################################
# Spring Boot
############################################
HELP.md

############################################
# IDEs
############################################

# STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# NetBeans
/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

############################################
# OS
############################################

# Linux
*~

# Mac
.DS_Store

# Windows
Thumbs.db

############################################
# Environment / Secrets
############################################
.env
.env.*
application-prod.properties
application-local.properties
target/
